<%- include('base') -%>

<header class="masthead bg-danger text-white text-center">
    <h2 class="text-center"><%= title %></h2>
</header>

<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<section class="page-section" style="padding-top: 1rem;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form action='/peserta/update/<%= peserta._id %>' method='post' role='form'>
                    <div class='form-group'>
                     <label for='exampleInputEmail'>Nama</label>
                     <input type='text' name='nama' class='form-control' id='' placeholder='Enter Name' value='<%= peserta.nama %>' required>
                    </div>
                    <br>
                    <div class='form-group'>
                     <label for='exampleInputEmail'>Email</label>
                     <input type='text' name='email' class='form-control' id='' placeholder='Enter Email' value='<%= peserta.email %>' required>
                    </div>
                    <br>
                    <div class='form-group'>
                     <label for='exampleInputEmail'>Umur</label>
                     <input type='text' name='umur' class='form-control' id='' placeholder='Enter Umur' value='<%= peserta.umur%>' required>
                    </div>
                    <br>
                    <div class='form-group'>
                     <label for='exampleInputEmail'>Perlombaan</label>
                     <select type='text' name='id_perlombaan' class='form-control' required>
                      <option value='<%= x._id %>' selected><%= x.nama %></option>
                      <% for(var i=0; i < perlombaan.length; i++){ %>
                      <option value='<%= perlombaan[i]._id %>'><%= perlombaan[i].nama %></option>
                      <% } %>
                     </select>
                    </div>
                    <br>
                    <button type='submit' class='btn btn-primary'>Edit Data Peserta</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- footer included -->
<%- include('footer') -%>

</body>
<script style='javascript' src='/bootstrap/js/bootstrap.min.js'>
</html>