<%- include('base') -%>

        <!-- About Section-->
        <section class="page-section bg-danger text-white mb-0">
            <div class="container">
              
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">17 Agustus</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Indonesia merdeka pada tanggal 17 agustus 1945. Kita semua harus berterimakasih kepada para pahlawan yang sudah gugur di medan perang</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Demi menyemarakan hari kemerdekaan Indonesia. Mari dafta dan mengikuti perlombaan 17 Agustus-an</p></div>
                </div>
                <!-- About Section Button-->
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Merdekaa..!!!</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <br><br>
            </div>
        </section>
      <!-- footer included -->
      <%- include('footer') -%>
    </body>
</html>
