<%- include('base') -%>
<!-- <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css rel=stylesheet> -->
<link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>

<header class="masthead bg-danger text-white text-center">
  <h2 class="text-center"><%= title %></h2>
</header>
<section class="page-section" style="padding-top: 1rem;">
<div class="container">
  <a class="py-3 px-0 px-lg-3 btn" href="/peserta/add"><h5 class="text-primary">Tambah Peserta Lomba</h5></a>
  <br>
  
  <table class='table' id="example">
   <thead>
    <tr>
     <th scope='col'>#</th>
     <th scope='col'>Nama</th>
     <th scope='col'>Email</th>
     <th scope='col'>Umur</th>
     <th scope='col'>Lomba</th>
     <th scope='col'>Action</th>
    </tr>
   </thead>
   <tbody>
   <% var no=1 %>
   <% for(var i = 0; i < peserta.length; i++){ %>
    <tr>
     <th scope='row'><%= no++ %></th>
     <td><%= peserta[i].nama %></td>
     <td><%= peserta[i].email %></td>
     <td><%= peserta[i].umur %></td>
     <td><%= peserta[i].id_perlombaan.nama %></td>
     <td><a href="/peserta/edit/<%= peserta[i]._id %>"><i class="far fa-edit"></i></a> <a href="/peserta/delete/<%= peserta[i]._id %>" onclick="return confirm('Apa kamu yakin akan menghapus data ini')" ><i class="fas fa-trash" ></i></a> </td>
    </tr>
   <% } %>
   </tbody>  
  </table>
</div>
</section>
  <%- include('footer') -%>
</body>


<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable({
    "aaSorting": [],
    columnDefs: [{
    orderable: false,
    targets: 5
    }]
  });
    $('.dataTables_length').addClass('bs-select');
});
</script>

</html>