<%- include('base') -%>

<header class="masthead bg-danger text-white text-center">
    <h2 class="text-center"><%= title %></h2>
</header>

<!-- <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="vh-100" style="background-color: #ffffff; padding-top: 1rem;">
    <div class="container py-5 h-28">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="/images/feny_erie_emawati.jpg"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1"><%= profile.nama %></h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;"><%= profile.nim %></p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">UJIAN AKHIR SEMESTER </p>
                      <p class="mb-0">Pemrograman Web Lanjut</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- footer included -->
<%- include('footer') -%>

</body>
<script src='/bootstrap/js/bootstrap.min.js'>
</html>